.files-listing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.files-listing {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}

.table-top {
  width: 100%;
  max-width: 1200px;
  margin: 48px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-top > p {
  padding: 8px 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

.table-top > div {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  padding: 10px 16px;
}

.table-top > div > input {
  height: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  outline-width: 0;
}

/* tooltip starts */
.tooltip {
  position: relative;
  /* display: inline-block; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: white;
  color: #212121;
  border: 1px solid #e7e7e7;
  padding: 12px 16px;
  border-radius: 16px;
  text-align: left;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0px 4px 50px 0px rgb(0, 0, 0, 0.1);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* tooltip ends */
