.last-uploads {
  width: 500px;
}

.last-uploads > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.files-list {
  height: 80vh;
  overflow: auto;
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 16px 24px 16px 16px;
  border-radius: 12px;
}

.file > div:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.file > div:first-child > div > p:first-child {
  color: #212121;
  font-weight: bold;
}

.edit-file-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-file-btn > p {
  color: #0075ff;
  font-weight: bold;
}
